.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  text-align: center;
  background-color: var(--background-color);
}

.header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
